ADBSchemaCompileAndJarGenerator/resources/ServiceInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:comm="http://aldorsolutions.com/wsfdms/to/xsd/comm" xmlns:self="http://aldorsolutions.com/wsfdms/to/xsd/serviceinfo" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://aldorsolutions.com/wsfdms/to/xsd/serviceinfo">
    <xs:import namespace="http://aldorsolutions.com/wsfdms/to/xsd/comm" schemaLocation="Common.xsd"/>
    <xs:complexType name="FdmsRequest">
        <xs:annotation>
            <xs:appinfo>
				Available Request Types: atNeed - atNeedRequest , atNeedFinance -
				atNeedFinanceRequest
    		</xs:appinfo>
            <xs:documentation>
				This a Fdms service request.
    		</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="requestType" type="self:serviceType"/>
            <xs:element name="requestContext" type="self:RequestContextType"/>
            <xs:choice>
                <xs:element name="atNeedRequest" nillable="true" type="self:AtNeedRequest"/>
                <xs:element name="atNeedFinanceRequest" type="self:AtNeedFinanceRequest"/>
                <xs:element name="vitalsRequest" type="self:VitalsRequest"/>
                <xs:element name="preNeedRequest" type="self:PreNeedRequest"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="serviceType">
        <xs:annotation>
            <xs:appinfo>
				Available Service Types: atNeed , atNeedFinance
    		</xs:appinfo>
            <xs:documentation>
				Informs Request or Response Service Type.
    		</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="atNeed"/>
            <xs:enumeration value="atNeedFinance"/>
            <xs:enumeration value="preNeed"/>
            <xs:enumeration value="vitals"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FdmsResponse">
        <xs:annotation>
            <xs:appinfo>
				Available Response Types: atNeed - atNeedResponse , atNeedFinance -
				atNeedFinanceResponse
    		</xs:appinfo>
            <xs:documentation>
				This a Fdms service response.
    		</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="responseType" type="self:serviceType"/>
            <xs:choice>
                <xs:element minOccurs="0" name="vitalsId" nillable="true" type="xs:int"/>
                <xs:element name="fdmsStatusResponse" type="self:FdmsStatusResponseType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AtNeedRequest">
        <xs:complexContent>
            <xs:extension base="self:CaseRequest">
                <xs:sequence>
                    <xs:element name="firstCall" type="self:FirstCallType"/>
                    <xs:element name="deceased" type="self:DeceasedType"/>
                    <xs:element minOccurs="0" name="informant" type="self:InformantPerson"/>
                    <xs:element minOccurs="0" name="nextOfKin" type="self:NextOfKinTypePerson"/>
                    <xs:element minOccurs="0" name="executor" type="self:NextOfKinTypePerson"/>
                    <xs:element minOccurs="0" name="shipAndAirlineInfo" type="xs:string"/>
                    <xs:element minOccurs="0" name="callInfoNote" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DeceasedType">
        <xs:sequence>
            <xs:element name="name" type="comm:CompleteNameType"/>
            <xs:element name="memorialName" type="comm:StrMax150Len"/>
            <xs:element minOccurs="0" name="placeOfDeath" type="comm:StrMax50Len"/>
            <xs:element minOccurs="0" name="placeOfDeathAddress" type="comm:StandardAddressType"/>
            <xs:element minOccurs="0" name="locDeathLicenseNumber" type="comm:StrMax50Len"/>
            <xs:element minOccurs="0" name="birthDate" type="xs:date"/>
            <xs:element minOccurs="0" name="deathDate" type="xs:date"/>
            <xs:element minOccurs="0" name="ageYears" nillable="true" type="xs:int"/>
            <xs:element name="serviceDate" type="xs:date"/>
            <xs:element minOccurs="0" name="dispositionDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CaseInfoType">
        <xs:sequence>
            <xs:element minOccurs="0" name="decedentVitalsId" type="xs:int"/>
            <xs:element minOccurs="0" name="decedentCaseNumber" type="comm:StrMax20Len"/>
            <xs:element minOccurs="0" name="decedentContractNumber" type="comm:StrMax20Len"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FirstCallType">
        <xs:sequence>
            <xs:element minOccurs="0" name="arrangeDate" type="xs:date"/>
            <xs:element minOccurs="0" name="arrangeTime" type="comm:TimeType"/>
            <xs:element minOccurs="0" name="originalPreneedDate" type="xs:date"/>
            <xs:element minOccurs="0" name="funeralHome" type="comm:Location"/>
            <xs:element name="facility" type="self:FaciltyType"/>
            <xs:element minOccurs="0" name="source" type="comm:StrMax20Len"/>
            <xs:element minOccurs="0" name="embalming" type="comm:StrMax30Len"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FaciltyType">
        <xs:choice>
            <xs:element name="sameAsFuneralHome">
                <xs:complexType/>
            </xs:element>
            <xs:element name="location" type="comm:Location"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InformantPerson">
        <xs:complexContent>
            <xs:extension base="comm:RelatedPersonType">
                <xs:attribute name="useDecessedAddr" type="xs:boolean" use="required"/>
                <xs:attribute name="billToParty" type="xs:boolean" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NextOfKinTypePerson">
        <xs:complexContent>
            <xs:extension base="comm:RelatedPersonType">
                <xs:attribute name="sameAsInformant" type="xs:boolean" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CaseRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="caseInfo" type="self:CaseInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargeType">
        <xs:sequence>
            <xs:element name="contractLineNo" type="xs:int"/>
            <xs:element name="description" type="comm:StrMax50Len"/>
            <xs:element name="amount" type="comm:AmountType"/>
            <xs:element name="taxCode" type="comm:StrMax10Len"/>
            <xs:element name="sequenceNo" type="xs:int"/>
            <xs:element name="fromPackage" type="xs:boolean"/>
            <xs:element name="item" type="self:ItemType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InventoryItemType">
        <xs:sequence>
            <xs:element name="invMasterKey" type="xs:int"/>
            <xs:element minOccurs="0" name="invOnHandId" type="xs:int"/>
            <xs:element minOccurs="0" name="serialNo" type="comm:StrMax25Len"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemType">
        <xs:choice>
            <xs:element name="merchandiseItem" type="self:InventoryItemType"/>
            <xs:element name="serviceItem" type="self:serviceItemType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="serviceItemType">
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="FinancialInfoType">
        <xs:sequence>
            <xs:element minOccurs="0" name="invoiceDate" type="xs:date"/>
            <xs:element minOccurs="0" name="dueDate" type="xs:date"/>
            <xs:element minOccurs="0" name="lastStatementDate" type="xs:date"/>
            <xs:element name="salesType" type="xs:string"/>
            <xs:element minOccurs="0" name="serviceType" type="xs:string"/>
            <xs:element minOccurs="0" name="source" type="comm:StrMax20Len"/>
            <xs:element minOccurs="0" name="disposition" type="xs:string"/>
            <xs:element minOccurs="0" name="servicePlan" type="xs:string"/>
            <xs:element minOccurs="0" name="HaveWeEverProvidedServicesForThisFamily" type="comm:YesNoType"/>
            <xs:element minOccurs="0" name="WhatFuneralHomeDidFamilyPreviouslyUse" type="comm:StrMax25Len"/>
            <xs:element minOccurs="0" name="HowDidFamilyHearAboutUs" type="comm:StrMax25Len"/>
            <xs:element minOccurs="0" name="miscNotes" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DepositInfoType">
        <xs:sequence>
            <xs:element name="depositAmount" type="comm:AmountType"/>
            <xs:element name="datePaid" type="xs:date"/>
            <xs:element name="adjustmentType" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentSource" type="comm:StrMax30Len"/>
            <xs:element name="depositDate" type="xs:date"/>
            <xs:element minOccurs="0" name="manualReceiptno" type="comm:StrMax15Len"/>
            <xs:element name="paymentMethod" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplyFinanceCharge">
        <xs:sequence>
            <xs:element name="monthlyInterestRate" type="comm:AmountType"/>
            <xs:element name="interestFromDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinanceChargeOptionType">
        <xs:sequence>
            <xs:element name="applyFinanceCharge" type="self:ApplyFinanceCharge"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargesType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="charge" type="self:ChargeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreNeedFinanceRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="charges" type="self:ChargesType"/>
            <xs:element name="financialInfo" type="self:FinancialInfoType"/>
            <xs:element minOccurs="0" name="depositInfo" type="self:DepositInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AtNeedFinanceRequest">
        <xs:complexContent>
            <xs:extension base="self:PreNeedFinanceRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="financeChargeOption" type="self:FinanceChargeOptionType"/>
                    <xs:element minOccurs="0" name="sendChargesToAccounting" type="comm:YesNoType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VitalsRequest">
        <xs:sequence>
            <xs:element name="vitalsId" type="xs:int"/>
            <xs:element minOccurs="0" name="idTagNumber" type="comm:StrMax30Len"/>
            <xs:element minOccurs="0" name="deceasedName" type="comm:CompleteNameType"/>
            <xs:element minOccurs="0" name="otherName" type="comm:CompleteNameType"/>
            <xs:element name="gender" type="comm:GenderType"/>
            <xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
            <xs:element minOccurs="0" name="dateOfDeath" type="xs:date"/>
            <xs:element minOccurs="0" name="age" type="comm:AgeType"/>
            <xs:element minOccurs="0" name="locationOfDeath" type="comm:LocationOfDeathType"/>
            <xs:element minOccurs="0" name="currentResidence" type="comm:ResidenceType"/>
            <xs:element minOccurs="0" name="generalHistory" type="self:GeneralHistoryType"/>
            <xs:element minOccurs="0" name="ethnicity" type="self:EthnicityType"/>
            <xs:element minOccurs="0" name="occupationalHistory" type="comm:OccupationalHistoryType"/>
            <xs:element minOccurs="0" name="maritalStatus" type="comm:StrMax14Len"/>
            <xs:element minOccurs="0" name="survivingSpouseName" type="comm:NameType"/>
            <xs:element minOccurs="0" name="father" type="comm:ParentType"/>
            <xs:element minOccurs="0" name="mother" type="comm:ParentType"/>
            <xs:element minOccurs="0" name="informantInfo" type="comm:RelatedPersonType"/>
            <xs:element minOccurs="0" name="dispositionInfo" type="comm:DispositionInfoType"/>
            <xs:element minOccurs="0" name="certification" type="comm:CertificationInfoType"/>
            <xs:element minOccurs="0" name="causeOfDeath" type="self:CauseOfDeathType"/>
            <xs:element minOccurs="0" name="medicalExaminer" type="comm:MedicalExaminerType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralHistoryType">
        <xs:sequence>
            <xs:element minOccurs="0" name="birthplace" type="comm:StandardAddressType"/>
            <xs:element minOccurs="0" name="SSN" type="comm:SSNType"/>
            <xs:element minOccurs="0" name="decedentsEducation" type="self:DecedentsEducationType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DecedentsEducationType">
        <xs:sequence>
            <xs:element minOccurs="0" name="highestGradeCompleted" type="comm:StrMax200Len"/>
            <xs:element minOccurs="0" name="yearsOfElementaryOrSecondary" type="comm:StrMax03Len"/>
            <xs:element minOccurs="0" name="yearsOfColege" type="comm:StrMax03Len"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EthnicityType">
        <xs:sequence>
            <xs:element minOccurs="0" name="race" type="xs:string"/>
            <xs:element minOccurs="0" name="ancestry" type="xs:string"/>
            <xs:element minOccurs="0" name="tribal" type="self:TribalType"/>
            <xs:element minOccurs="0" name="hispanicOrigin" type="comm:YesNoType"/>
            <xs:element minOccurs="0" name="citizenship" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TribalType">
        <xs:sequence>
            <xs:element minOccurs="0" name="member" type="comm:SimpleAnswerType"/>
            <xs:element minOccurs="0" name="name" type="comm:StrMax30Len"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CauseOfDeathType">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="0" name="cause" type="comm:CauseType"/>
            <xs:element name="tobaccoUser" type="comm:CompleteAnswerType"/>
            <xs:element minOccurs="0" name="pregnantAtDeath" type="xs:string"/>
            <xs:element minOccurs="0" name="otherCondition" type="comm:StrMax50Len"/>
            <xs:element name="typeOfDeath" type="comm:StrMax50Len"/>
            <xs:element name="wasBodyFoundMore24Hr" type="xs:boolean"/>
            <xs:element name="wasAnAutopsyPerformed" type="xs:boolean"/>
            <xs:element minOccurs="0" name="wereAutopsyFindingsAvailablePriorToCauseOfDeath" type="comm:YesNoType"/>
            <xs:element minOccurs="0" name="hospiceStatus" type="comm:YesNoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestContextType">
        <xs:sequence>
            <xs:element minOccurs="0" name="localeId" type="xs:int"/>
            <xs:element minOccurs="0" name="locationId" type="xs:int"/>
            <xs:element minOccurs="0" name="directorId" type="xs:int"/>
            <xs:element minOccurs="0" name="vitalsId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreNeedRequest">
        <xs:complexContent>
            <xs:extension base="self:CaseRequest">
                <xs:sequence>
                    <xs:element name="buyer" type="self:BuyerInfoType"/>
                    <xs:element name="insuredInfo" type="self:insuredInfoType"/>
                    <xs:element name="salesInfo" type="self:salesInfoType"/>
                    <xs:element minOccurs="0" name="fundDepository" type="self:fundDepositoryType"/>
                    <xs:element minOccurs="0" name="source" type="comm:StrMax40Len"/>
                    <xs:element minOccurs="0" name="notes" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BuyerInfoType">
        <xs:complexContent>
            <xs:extension base="comm:RelatedPersonType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SSN" type="comm:SSNType"/>
                    <xs:element minOccurs="0" name="Co-Buyer" type="comm:StrMax150Len"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="insuredInfoType">
        <xs:sequence>
            <xs:element name="name" type="comm:NameType"/>
            <xs:element minOccurs="0" name="address" type="comm:StandardAddressType"/>
            <xs:element minOccurs="0" name="SSN" type="comm:SSNType"/>
            <xs:element minOccurs="0" name="dathOfBirth" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="salesInfoType">
        <xs:sequence>
            <xs:element name="saleDate" type="xs:date"/>
            <xs:element minOccurs="0" name="service" type="comm:StrMax40Len"/>
            <xs:element minOccurs="0" name="casket" type="comm:StrMax29Len"/>
            <xs:element minOccurs="0" name="vault" type="comm:StrMax29Len"/>
            <xs:element minOccurs="0" name="urn" type="comm:StrMax29Len"/>
            <xs:element minOccurs="0" name="serviceSaleAmount" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="casketSaleAmount" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="urnSaleAmount" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="vaultSaleAmount" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="otherSaleAmount" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="GSTAmount" type="comm:AmountType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="disbursements" type="self:disbursementType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="disbursementType">
        <xs:sequence>
            <xs:element name="disbursement" type="comm:StrMax30Len"/>
            <xs:element name="amount" type="comm:AmountType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fundDepositoryType">
        <xs:sequence>
            <xs:element minOccurs="0" name="fundType" type="comm:StrMax24Len"/>
            <xs:element minOccurs="0" name="fundWith" type="comm:StrMax40Len"/>
            <xs:element minOccurs="0" name="startedDate" type="xs:date"/>
            <xs:element minOccurs="0" name="maturityDate" type="xs:date"/>
            <xs:element minOccurs="0" name="accountNumber" type="comm:StrMax30Len"/>
            <xs:element minOccurs="0" name="EstimateInterestRate" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="faceValue" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="contractAmount" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="YTDPaid" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="totalPaid" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="YTDInterest" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="managementFee" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="commission" type="comm:AmountType"/>
            <xs:element minOccurs="0" name="lastPaymentDate" type="xs:date"/>
            <xs:element minOccurs="0" name="lastPaymentAmount" type="comm:AmountType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FdmsStatusResponseType">
        <xs:sequence>
            <xs:element name="status" type="xs:boolean"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
